@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-rgb: 234, 94, 42;
  --accent-light-rgb: 239, 133, 63;
  --accent-dark-rgb: 185, 66, 31;
}

body {
  font-family: Schoolbell;
  color: black;
  background-color: rgb(199, 199, 192);

  overflow: hidden;
}

@media (max-width: 820px) {
  body {
    overflow-y: scroll;
  }
}

@-moz-keyframes point {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(10deg);
  }
}
@-webkit-keyframes point {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}
@keyframes point {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
